/* import */
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";

/* web accessibility */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  padding: 24px 48px;
  position: absolute;
  top: 0;
  left: 1.5rem;
  z-index: 999;
  color: $blackColor;
  background-color: $whiteColor;
  border-radius: 15px;
  line-height: 0;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  &:focus,
  &:active {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: auto;
    overflow: visible;
    width: auto;
    white-space: normal;
  }
}

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.25%;
  scroll-behavior: smooth;
  position: relative;
  background-color: $blackColor;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  color: $whiteColor;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Lato", sans-serif;

  &--large {
    width: calc(100% - 40px);
    max-width: 1640px;

    @media screen and (min-width: $laptopWidth) {
      width: calc(100% - 80px);
    }

    @media screen and (min-width: $tvWidth) {
      width: calc(100% - 160px);
    }
  }

  &--small {
    max-width: 1544px;
    width: calc(100% - 64px);

    @media screen and (min-width: $laptopWidth) {
      width: calc(100% - 128px);
    }

    @media screen and (min-width: $tvWidth) {
      width: calc(100% - 256px);
    }
  }
}

.header,
.footer {
  padding: 24px 0;
}

.header {
  margin-bottom: 48px;
}

.footer {
  margin-top: 96px;

  @media screen and (min-width: $laptopWidth) {
    margin-top: 48px;
  }
}

.header__wrapper,
.footer__wrapper {
  @include flex(row, center, space-between);

  @media screen and (min-width: $laptopWidth) {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.footer__wrapper {
  font-weight: 400;

  a {
    color: $grayColor;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;

    &:hover,
    &:focus {
      color: $yellowColor;
    }
  }
}

.section {
  padding: 96px 0 0;

  &--decoration {
    padding: 80px 0;
    position: relative;
    z-index: 0;
  }
}

.section__wrapper {
  text-align: center;
}

.title {
  font-weight: 900;
  margin: 0 0 24px;

  &--big {
    font-size: 4.4rem;

    @media screen and (min-width: $laptopWidth) {
      font-size: 5.5rem;
    }
  }

  &--middle {
    font-size: 3.5rem;

    @media screen and (min-width: $laptopWidth) {
      font-size: 4.4rem;
    }
  }
  
  &--small {
    font-size: 2.8rem;
    margin-bottom: 12px;

    @media screen and (min-width: $laptopWidth) {
      font-size: 3.5rem;
    }
  }
}

.text-wrapper {
  margin: 0 auto;
  max-width: 500px;
  padding: 8px 16px;
  background-color: $blackColor;

  @media screen and (min-width: $laptopWidth) {
    max-width: 800px;
  }
}

.logo {
  color: $whiteColor;
  font-size: 2.4rem;
  font-weight: 900;
  text-decoration: none;
  z-index: 6;
}

.logo__color {
  color: $blackColor;
  background-color: $whiteColor;
  border-radius: 15px;
  padding: 0 7.5px;
}

/* hamburger */
.hamburger {
  width: 32px;
  height: 20px;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 15px;
  z-index: 6;
  position: absolute;
  top: 32px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  display: block;

  @media screen and (min-width: $laptopWidth) {
    display: none;
  }
}

.hamburger__box {
  width: 32px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 4px;
  background-color: $whiteColor;
  border-radius: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.1s 0.2s ease-in-out;
  -o-transition: background-color 0.1s 0.2s ease-in-out;
  transition: background-color 0.1s 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    width: 80%;
    height: 4px;
    background-color: $whiteColor;
    border-radius: 5px;
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    -o-transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.hamburger--active {
  background-color: transparent;

  .hamburger__inner {
    background: transparent;

    &::before {
      -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
      transform: translateY(10px) rotate(45deg);
    }

    &::after {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

/* navigation */
.navigation {
  width: 100%;
  height: auto;
  list-style: none;
  @include flex(column, center, center);
  background-color: $blackColor;
  gap: 24px;
  padding: 128px 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 5;
  -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;

  @media screen and (min-width: $laptopWidth) {
    @include flex(row, center, center);
    padding: 0;
    background: transparent;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 0;
    position: static;
  }
}

.navigation--active {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  visibility: visible;
}

.navigation__link {
  display: inline-block;
  color: $whiteColor;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  z-index: 0;

  &:hover,
  &:focus {
    color: $yellowColor;
  }

  @media screen and (min-width: $laptopWidth) {
    &::before {
      content: "";
      width: 105%;
      height: 2px;
      border-radius: 15px;
      background-color: $yellowColor;
      position: absolute;
      left: -2.5%;
      bottom: -0.5px;
      z-index: -1;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
  
    &:hover::before,
    &:focus::before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    &:hover,
    &:focus {
      color: $whiteColor;
    }
  }
}

.menu-decoration {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  @media screen and (min-width: $laptopWidth) {
    display: none;
  }

  &::before {
    content: "";
    width: 25%;
    height: 50%;
    background-image: -o-radial-gradient(circle, $grayColor 1%, transparent 10%), -o-radial-gradient(circle, $grayColor 1%, transparent 10%);
    background-image: radial-gradient(circle, $grayColor 1%, transparent 10%), radial-gradient(circle, $grayColor 1%, transparent 10%);
    background-size: 20px 20px;
    position: absolute;
    top: 30%;
    left: 0;
  }

  &::after {
    content: "";
    width: 25%;
    height: 50%;
    background-image: -o-radial-gradient(circle, $whiteColor 1%, transparent 20%), -o-radial-gradient(circle, $whiteColor 1%, transparent 20%);
    background-image: radial-gradient(circle, $whiteColor 1%, transparent 20%), radial-gradient(circle, $whiteColor 1%, transparent 20%);
    background-size: 10px 10px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.hero-decoration {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  &:before{
    content: "";
    height: 100%;
    width: 100%;
    background-image: -o-radial-gradient(circle, $whiteColor 1%, transparent 10%), -o-radial-gradient(circle, $whiteColor 1%, transparent 10%);
    background-image: radial-gradient(circle, $whiteColor 1%, transparent 10%), radial-gradient(circle, $whiteColor 1%, transparent 10%);
    background-size: 20px 20px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.section__header {
  position: relative;
  margin-bottom: 40px;
  z-index: 0;

  @media screen and (min-width: $laptopWidth) {
    margin-bottom: 80px;
  }

  &::before,
  &::after {
    content: "";
    width: 30%;
    height: 100%;
    background-image: -o-radial-gradient(circle, $grayColor 1%, transparent 20%), -o-radial-gradient(circle, $grayColor 1%, transparent 20%);
    background-image: radial-gradient(circle, $grayColor 1%, transparent 20%), radial-gradient(circle, $grayColor 1%, transparent 20%);
    background-size: 10px 10px;
    position: absolute;
    z-index: -1;
    top: 0;

    @media screen and (min-width: $tabletWidth) {
      width: 35%;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  .title {
    max-width: 250px;
    margin: 0 auto;
    background-color: $blackColor;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $laptopWidth) {
      max-width: 350px;
    }
  }
}

.container {
  @include flex(row, center, center);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 48px;
  position: relative;

  @media screen and (min-width: $tabletWidth) {
    gap: 24px;
  }

  @media screen and (min-width: $laptopWidth) {
    margin-bottom: 56px;
  }
}

.container__item {
  width: 300px;
  margin-bottom: 24px;

  @media screen and (min-width: $tabletWidth) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: $laptopWidth) {
    margin-bottom: 48px;
  }
}

.box {
  width: 300px;
  height: 300px;
  border: 3px solid $whiteColor;
  border-radius: 15px;
  margin-bottom: 24px;
  @include flex(row, center, center);
  position: relative;

  .title {
    padding: 0px 16px;
    margin: 0;
    color: $blackColor;
    background-color: $whiteColor;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: -1.5px;
    left: -1.5px;
  }
}

.btn {
  width: 100%;
  padding: 8px 24px;
  border: 3px solid $whiteColor;
  border-radius: 50px;
  font-weight: 700;
  text-decoration: none;

  &--fill {
    color: $blackColor;
    background-color: $whiteColor;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s;

    &:hover,
    &:focus {
      background-color: $yellowColor;
      border-color: $yellowColor;
    }
  }

  &--border {
    max-width: 350px;
    padding: 12px 48px;
    color: $whiteColor;
    background-color: transparent;
    -webkit-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    transition: border-color 0.2s;
    @include flex(row, center, center);
    gap: 8px;
    margin: 0 auto;

    &:hover,
    &:focus {
      border-color: $yellowColor;
    }

    img {
      height: 1.8rem;
    }
  }
}

.modal {
  width: 95%;
  background-color: $whiteColor;
  border-radius: 15px;
  padding: 48px 24px;
  position: fixed;
  top: 2%;
  left: 2.5%;
  z-index: 4;
  display: none;
  overflow-y: scroll;

  @media screen and (min-width: $tabletWidth) {
    padding: 24px;
  }

  @media screen and (min-width: 1020px) {
    height: 80vh;
  }

  @media screen and (min-width: $laptopWidth) {
    width: 80vw;
    height: 80vh;
    top: 10%;
    left: 10%;
  }
}

.close {
  width: 48px;
  height: 48px;
  margin: 16px;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 50%;
  @include flex(row, center, center);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;

  &:hover,
  &:focus {
    border-color: $blackColor;
  }
}

.modal__wrapper {
  width: 100%;
  height: 100%;
  @include flex(column, center, center);
  gap: 8px;
}

.code-wrapper {
  width: 100%;
  @include flex(column, center, center);
  gap: 12px;

  @media screen and (min-width: $tabletWidth) {
    @include flex(row, center, space-between);
    gap: 24px;
  }
}

.code-name {
  color: $blackColor;
  font-weight: 900;

  @media screen and (min-width: $tabletWidth) {
    width: 100px;
  }
}

.code {
  width: 90%;
  height: 124px;
  text-align: left;
  padding: 16px;
  background-color: $blackColor;
  border-radius: 15px;
  @include flex(column, flex-start, flex-start);
  overflow-y: scroll;
  line-height: 1;

  p {
    width: 100%;
  }
}

.show-modal {
  display: block;
}

/* BUTTONS */
.btn-1 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  padding: 24px 48px;
}

.btn-1__draw-border {
  -webkit-box-shadow: inset 0 0 0 2.5px #fff;
  box-shadow: inset 0 0 0 2.5px #fff;
  color: #fff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}

.btn-1__draw-border::before,
.btn-1__draw-border::after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid transparent;
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.btn-1__draw-border::before {
  border-bottom-width: 2.5px;
  border-left-width: 2.5px;
}

.btn-1__draw-border::after {
  border-top-width: 2.5px;
  border-right-width: 2.5px;
}

.btn-1__draw-border:hover {
  color: #F6C350;
}

.btn-1__draw-border:hover::before,
.btn-1__draw-border:hover::after {
  width: 100%;
  height: 100%;
  border-color: #F6C350;
  -webkit-transition: border-color 0s, width 0.3s, height 0.3s;
  -o-transition: border-color 0s, width 0.3s, height 0.3s;
  transition: border-color 0s, width 0.3s, height 0.3s;
}

.btn-1__draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.3s;
  -o-transition-delay: 0s, 0s, 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.btn-1__draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.3s, 0s;
  -o-transition-delay: 0s, 0.3s, 0s;
  transition-delay: 0s, 0.3s, 0s;
}

.btn-2 {
  color: rgba(247, 14, 151, 1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 40px;
  -webkit-box-shadow: 0 2px 2px #1c1e1f;
  box-shadow: 0 2px 2px #1c1e1f;
  position: relative;
  overflow: hidden;
}

.btn-2__span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 14, 151, 1)), to(rgba(247, 14, 151, 0.7)));
  background: -o-linear-gradient(left, rgba(247, 14, 151, 1), rgba(247, 14, 151, 0.7));
  background: linear-gradient(to right, rgba(247, 14, 151, 1), rgba(247, 14, 151, 0.7));
  -webkit-animation: btn-2-animate-1 2s linear infinite;
  animation: btn-2-animate-1 2s linear infinite;
}

@-webkit-keyframes btn-2-animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes btn-2-animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.btn-2__span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 14, 151, 1)), to(rgba(247, 14, 151, 0.7)));
  background: -o-linear-gradient(top, rgba(247, 14, 151, 1), rgba(247, 14, 151, 0.7));
  background: linear-gradient(to bottom, rgba(247, 14, 151, 1), rgba(247, 14, 151, 0.7));
  -webkit-animation: btn-2-animate-2 2s linear infinite;
  animation: btn-2-animate-2 2s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes btn-2-animate-2 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes btn-2-animate-2 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.btn-2__span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(247, 14, 151, 1)), to(rgba(247, 14, 151, 0.7)));
  background: -o-linear-gradient(right, rgba(247, 14, 151, 1), rgba(247, 14, 151, 0.7));
  background: linear-gradient(to left, rgba(247, 14, 151, 1), rgba(247, 14, 151, 0.7));
  -webkit-animation: btn-2-animate-3 2s linear infinite;
  animation: btn-2-animate-3 2s linear infinite;
}

@-webkit-keyframes btn-2-animate-3 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes btn-2-animate-3 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.btn-2__span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#1c1e1f), to(rgba(247, 14, 151, 0.7)));
  background: -o-linear-gradient(bottom, #1c1e1f, rgba(247, 14, 151, 0.7));
  background: linear-gradient(to top, #1c1e1f, rgba(247, 14, 151, 0.7));
  -webkit-animation: btn-2-animate-4 2s linear infinite;
  animation: btn-2-animate-4 2s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes btn-2-animate-4 {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes btn-2-animate-4 {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

/* BACKGROUNDS */
.background {
  border-radius: 15px;
}

.background-1 {
  width: 100%;
  height: 100%;
  background-color: #F70E97;
  background-size: 30px 30px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%), linear-gradient(90deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%);
}

.background-2 {
  width: 100%;
  height: 100%;
  background-image: -o-radial-gradient(circle, #F6C350 1%, transparent 20%), -o-radial-gradient(circle, #F6C350 1%, transparent 20%);
  background-image: radial-gradient(circle, #F6C350 1%, transparent 20%), radial-gradient(circle, #F6C350 1%, transparent 20%);
  background-size: 10px 10px;
}

.background-3 {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(-45deg, #F70E97 0, #F70E97 10px, transparent 20px, transparent 40px);
}

.background-4 {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(45deg, #F6C350 0, #F6C350 20px, transparent 20px, transparent 40px),
  repeating-linear-gradient(-45deg, #c69218 0, #c69218 20px, transparent 20px, transparent 40px);
}

.background-5 {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(45deg, #3CB9FC 0, #3CB9FC 10px, transparent 10px, transparent 40px),
  repeating-linear-gradient(-45deg, #1586c4 0, #1586c4 10px, transparent 10px, transparent 40px);
}

.background-6 {
  width: 100%;
  height: 100%;
  background-color: #02D796;
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%), linear-gradient(-45deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%);
}

.background-7 {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(-45deg, #3CB9FC 0, #3CB9FC 20px, transparent 20px, transparent 40px);
}

.background-8 {
  width: 100%;
  height: 100%;
  background-color: #02D796;
  background-size: 5px 2.5px;
  background-image: linear-gradient(30deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%), linear-gradient(150deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%);
}

.background-9 {
  width: 100%;
  height: 100%;
  background-color: #1c1e1f;
  background-image: linear-gradient(45deg, #F70E97 33%, transparent 33%, transparent 66%, #F70E97 66%), linear-gradient(135deg, #F70E97 33%, transparent 33%, transparent 66%, #F70E97 66%);
  background-size: 27px 27px;
}

.background-10 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 7px, #F6C350 7px, #F6C350 12px, transparent 12px, transparent 17px, #edeff3 17px, #edeff3 19px, transparent 19px);
  background-size: 20px 20px;
}

.background-11 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 7px, #F70E97 7px, #F70E97 12px, transparent 12px, transparent 17px, #edeff3 17px, #edeff3 19px, transparent 19px);
  background-size: 30px 30px;
}

.background-12 {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0deg, #000 0, #000 40px, #F6C350 40px, #F6C350 80px);
}

.background-13 {
  width: 100%;
  height: 100%;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    background: repeating-linear-gradient(0deg, #000 0, #000 40px, #fff 40px, #fff 80px);
  }

  &::after {
    background: repeating-linear-gradient(90deg, #000 0, #000 40px, #fff 40px, #fff 80px);
    mix-blend-mode: difference;
  }
}

.background-14 {
  width: 100%;
  height: 100%;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    background: repeating-linear-gradient(45deg, #000 0, #000 40px, #fff 40px, #fff 80px);
  }

  &::after {
    background: repeating-linear-gradient(-45deg, #000 0, #000 40px, #fff 40px, #fff 80px);
    mix-blend-mode: difference;
  }
}

.background-15 {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 100% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent) 0 -50px;
  background-size: 10px 10px;
  opacity: 0.2;
}

.background-16 {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 100% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent) 0 -50px;
  background-size: 25px 25px;
}

.background-17 {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 100% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent) 0 -50px;
  background-size: 75px 100px;
}

.background-18 {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 100% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent) 0 -50px;
  background-size: 5px 25px;
}

.background-19 {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 100% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent) 0 -50px;
  background-size: 45px 25px;
}

.background-20 {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, white 21%, white 34%, transparent 35%, transparent) 0 -50px;
  background-size: 95px 95px;
}

/* TEXTS */

/* ANIMATIONS */